<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Alchemist-project</title>
</head>
<body>
	<div id="app"></div>
	<!--组件-->
	<app></app>
	<!-- built files will be auto injected -->

	

	<!--官网例子的学习-->
	<div id="hello" style="margin-top: 1000px;">{{message}}</div>

	<div id="app-2"><span v-if="seen">看到我啦</span></div>

	<div id="app-3">
		<ol>
			<li v-for="todo in todos">
				{{todo.item}}
			</li>
		</ol>
	</div>
	<div id="app-4">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>


	<div id="app-5">
		<p>{{message}}</p>
		<input type="input" v-model="message">
	</div>

	<div id="app-6">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
		</ol>
	</div>




</body>
</html>
